@import './base/common';
@import './base/reset';
@import './utils/vars';
@import './utils/hidden';
@import './utils/mixins';
@import './utils/placeholders';
@import './components/container';

// @import './layouts/example';
@import './layouts/hero_header';
@import './layouts/products';
@import './layouts/about';
@import './layouts/gallery';
@import './layouts/advantages';
@import './layouts/customer_reviews';
@import './layouts/contacts';
@import './layouts/footer';
@import './layouts/buy_now_modal';
