:root {
  --primary-color: #f8d24e;
  --secondary-color: #84a178;
  --tertiary-color: #0a8817;
  --primary-text-color:#131313;
  --secondary-text-color:#FCFCFC;
  --first-background-item:#AEC6A5;
  --second-background-item:#EFD478;
  --third-background-item:#D6936D;
  --border-color:#000000;
  --second-border-color:#9cbe8f;
  --background-modal:#fcfcfc;
  --gradient-color:#d9d9d9;

}
