<section class="advantages section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__circle--cow"></div>
        <span class="advantages__namber">721</span>
        <span class="advantages__text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
      <li class="advantages__item">
        <div class="advantages__circle--weight"></div>
        <span class="advantages__namber">16kg</span>
        <span class="advantages__text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
      <li class="advantages__item">
        <div class="advantages__circle--ice"></div>
        <span class="advantages__namber">84</span>
        <span class="advantages__text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
    </ul>
  </div>
</section>
