<section class="buy">
  <div class="container">
    <div class="buy_window">
      <button class="buy_btn-close" type="button"></button>
      <h2 class="buy_title">Buy now</h2>
      <form class="buy_form">
        <div class="buy_field">
          <input
            type="checkbox"
            name="type_coffe"
            value="true"
            class="buy_check"
            id="type_coffe"
          />
          <label for="type_coffe" class="buy_item"></label>
        </div>
        <div class="buy_field">
          <input type="name" placeholder="name" />
        </div>
      </form>
      <button type="submit buy_btn-sub">Submit</button>
    </div>
  </div>
</section>
