<section class="customer-reviews">
  <div class="customer-reviews__box">
    <picture class="customer-reviews__image"></picture>
    <div class="customer-reviews__field">
      <p class="customer-reviews__text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
  </div>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide1</div>
      <div class="swiper-slide">Slide2</div>
      <div class="swiper-slide">Slide3</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination">1</div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</section>
