<footer class="footer">
<div class="container">
<div class="footer__title--container">
<p class="foorer__title">homemade ice cream made</p> 
<p class="foorer__title-big">with passion</p>
</div>
<div class="footer__contacts--container">
<ul class="social-networks__list">
<li class="social-networks__item"><a href="https://github.com/maxk3y/team13_project_HTML-CSS" target="_blank" rel="noopener noreferrer nofollow" class="social-networks__link"><svg class="social-networks__icon1"><use href="#"></use></svg> </a></li>
<li class="social-networks__item"><a href="https://www.telegram.org" target="_blank" rel="noopener noreferrer nofollow" class="social-networks__link"><svg class="social-networks__icon2"><use href="#"></use></svg> </a></li>
<li class="social-networks__item"><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer nofollow" class="social-networks__link"><svg class="social-networks__icon3"><use href="#"></use></svg> </a></li>
</ul>
 <p class="footer__contacts">Feel free to contact <a href="tel:+610383766284" class="footer__namber"> +61 (0) 383 766 284</a></p>
</div>
<div class="footer__botom">
<p class="footer__text-copyright">© 2022 - IceCream.
All Rights Reserved.</p>
</div>
</div>
</footer>