<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <ul class="slideshow">
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/alex-jones-mobile.webp 1x,
                                    ./images/gallery/slides/alex-jones-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/alex-jones-mobile.jpg 1x,
                                    ./images/gallery/slides/alex-jones-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/alex-jones-tablet.webp 1x,
                                    ./images/gallery/slides/alex-jones-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/alex-jones-tablet.jpg 1x,
                                    ./images/gallery/slides/alex-jones-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/alex-jones-desktop.webp 1x,
                                    ./images/gallery/slides/alex-jones-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/alex-jones-desktop.jpg 1x,
                                    ./images/gallery/slides/alex-jones-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/alex-jones-mobile.jpg" alt="Icecream 1">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/bryn-beatson-alt-mobile.webp 1x,
                                    ./images/gallery/slides/bryn-beatson-alt-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/bryn-beatson-alt-mobile.jpg 1x,
                                    ./images/gallery/slides/bryn-beatson-alt-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/bryn-beatson-alt-tablet.webp 1x,
                                    ./images/gallery/slides/bryn-beatson-alt-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/bryn-beatson-alt-tablet.jpg 1x,
                                    ./images/gallery/slides/bryn-beatson-alt-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/bryn-beatson-alt-desktop.webp 1x,
                                    ./images/gallery/slides/bryn-beatson-alt-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/bryn-beatson-alt-desktop.jpg 1x,
                                    ./images/gallery/slides/bryn-beatson-alt-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/bryn-beatson-alt-mobile.jpg" alt="Icecream 2">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/jenny-smith-mobile.webp 1x,
                                    ./images/gallery/slides/jenny-smith-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/jenny-smith-mobile.jpg 1x,
                                    ./images/gallery/slides/jenny-smith-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/jenny-smith-tablet.webp 1x,
                                    ./images/gallery/slides/jenny-smith-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/jenny-smith-tablet.jpg 1x,
                                    ./images/gallery/slides/jenny-smith-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/jenny-smith-desktop.webp 1x,
                                    ./images/gallery/slides/jenny-smith-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/jenny-smith-desktop.jpg 1x,
                                    ./images/gallery/slides/jenny-smith-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/jenny-smith-mobile.jpg" alt="Icecream 3">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/bryn-beatson-mobile.webp 1x,
                                    ./images/gallery/slides/bryn-beatson-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/bryn-beatson-mobile.jpg 1x,
                                    ./images/gallery/slides/bryn-beatson-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/bryn-beatson-tablet.webp 1x,
                                    ./images/gallery/slides/bryn-beatson-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/bryn-beatson-tablet.jpg 1x,
                                    ./images/gallery/slides/bryn-beatson-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/bryn-beatson-desktop.webp 1x,
                                    ./images/gallery/slides/bryn-beatson-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/bryn-beatson-desktop.jpg 1x,
                                    ./images/gallery/slides/bryn-beatson-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/bryn-beatson-mobile.jpg" alt="Icecream 4">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/krisztina-papp-mobile.webp 1x,
                                    ./images/gallery/slides/krisztina-papp-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/krisztina-papp-mobile.jpg 1x,
                                    ./images/gallery/slides/krisztina-papp-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/krisztina-papp-tablet.webp 1x,
                                    ./images/gallery/slides/krisztina-papp-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/krisztina-papp-tablet.jpg 1x,
                                    ./images/gallery/slides/krisztina-papp-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/krisztina-papp-desktop.webp 1x,
                                    ./images/gallery/slides/krisztina-papp-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/krisztina-papp-desktop.jpg 1x,
                                    ./images/gallery/slides/krisztina-papp-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/krisztina-papp-mobile.jpg" alt="Icecream 5">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/lama-roscu-mobile.webp 1x,
                                    ./images/gallery/slides/lama-roscu-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/lama-roscu-mobile.jpg 1x,
                                    ./images/gallery/slides/lama-roscu-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/lama-roscu-tablet.webp 1x,
                                    ./images/gallery/slides/lama-roscu-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/lama-roscu-tablet.jpg 1x,
                                    ./images/gallery/slides/lama-roscu-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/lama-roscu-desktop.webp 1x,
                                    ./images/gallery/slides/lama-roscu-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/lama-roscu-desktop.jpg 1x,
                                    ./images/gallery/slides/lama-roscu-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/lama-roscu-mobile.jpg" alt="Icecream 6">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/prchi-palwe-mobile.webp 1x,
                                    ./images/gallery/slides/prchi-palwe-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/prchi-palwe-mobile.jpg 1x,
                                    ./images/gallery/slides/prchi-palwe-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/prchi-palwe-tablet.webp 1x,
                                    ./images/gallery/slides/prchi-palwe-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/prchi-palwe-tablet.jpg 1x,
                                    ./images/gallery/slides/prchi-palwe-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/prchi-palwe-desktop.webp 1x,
                                    ./images/gallery/slides/prchi-palwe-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/prchi-palwe-desktop.jpg 1x,
                                    ./images/gallery/slides/prchi-palwe-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/prchi-palwe-mobile.jpg" alt="Icecream 7">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/sara-dubler-mobile.webp 1x,
                                    ./images/gallery/slides/sara-dubler-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/sara-dubler-mobile.jpg 1x,
                                    ./images/gallery/slides/sara-dubler-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/sara-dubler-tablet.webp 1x,
                                    ./images/gallery/slides/sara-dubler-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/sara-dubler-tablet.jpg 1x,
                                    ./images/gallery/slides/sara-dubler-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/sara-dubler-desktop.webp 1x,
                                    ./images/gallery/slides/sara-dubler-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/sara-dubler-desktop.jpg 1x,
                                    ./images/gallery/slides/sara-dubler-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/sara-dubler-mobile.jpg" alt="Icecream 8">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/vicki-cronis-nohe-mobile.webp 1x,
                                    ./images/gallery/slides/vicki-cronis-nohe-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/vicki-cronis-nohe-mobile.jpg 1x,
                                    ./images/gallery/slides/vicki-cronis-nohe-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/vicki-cronis-nohe-tablet.webp 1x,
                                    ./images/gallery/slides/vicki-cronis-nohe-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/vicki-cronis-nohe-tablet.jpg 1x,
                                    ./images/gallery/slides/vicki-cronis-nohe-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/vicki-cronis-nohe-desktop.webp 1x,
                                    ./images/gallery/slides/vicki-cronis-nohe-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/vicki-cronis-nohe-desktop.jpg 1x,
                                    ./images/gallery/slides/vicki-cronis-nohe-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/vicki-cronis-nohe-mobile.jpg" alt="Icecream 9">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/warren-umoh-mobile.webp 1x,
                                    ./images/gallery/slides/warren-umoh-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/warren-umoh-mobile.jpg 1x,
                                    ./images/gallery/slides/warren-umoh-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/warren-umoh-tablet.webp 1x,
                                    ./images/gallery/slides/warren-umoh-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/warren-umoh-tablet.jpg 1x,
                                    ./images/gallery/slides/warren-umoh-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/warren-umoh-desktop.webp 1x,
                                    ./images/gallery/slides/warren-umoh-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/warren-umoh-desktop.jpg 1x,
                                    ./images/gallery/slides/warren-umoh-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/warren-umoh-mobile.jpg" alt="Icecream 10">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/yulia-matvienko-mobile.webp 1x,
                                    ./images/gallery/slides/yulia-matvienko-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/yulia-matvienko-mobile.jpg 1x,
                                    ./images/gallery/slides/yulia-matvienko-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/yulia-matvienko-tablet.webp 1x,
                                    ./images/gallery/slides/yulia-matvienko-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/yulia-matvienko-tablet.jpg 1x,
                                    ./images/gallery/slides/yulia-matvienko-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/yulia-matvienko-desktop.webp 1x,
                                    ./images/gallery/slides/yulia-matvienko-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/yulia-matvienko-desktop.jpg 1x,
                                    ./images/gallery/slides/yulia-matvienko-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/yulia-matvienko-mobile.jpg" alt="Icecream 11">
                </picture>
            </li>
            <li class="slideshow__item scale">
                <picture>
                    <source srcset="./images/gallery/slides/candy-zimmermann-mobile.webp 1x,
                                    ./images/gallery/slides/candy-zimmermann-mobile-2x.webp 2x" media="(max-width: 479px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/candy-zimmermann-mobile.jpg 1x,
                                    ./images/gallery/slides/candy-zimmermann-mobile-2x.jpg 2x" media="(max-width: 479px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/candy-zimmermann-tablet.webp 1x,
                                    ./images/gallery/slides/candy-zimmermann-tablet-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/candy-zimmermann-tablet.jpg 1x,
                                    ./images/gallery/slides/candy-zimmermann-tablet-2x.jpg 2x" media="(max-width: 767px)" type="image/jpeg" />
                    <source srcset="./images/gallery/slides/candy-zimmermann-desktop.webp 1x,
                                    ./images/gallery/slides/candy-zimmermann-desktop-2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="./images/gallery/slides/candy-zimmermann-desktop.jpg 1x,
                                    ./images/gallery/slides/candy-zimmermann-desktop-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg" />
                    <img src="./images/gallery/slides/candy-zimmermann-mobile.jpg" alt="Icecream 12">
                </picture>
            </li>
        </ul>
    </div>
</section>