
       
          
          <div class="mob-menu is-hidden" data-menu>
            <div class="container">
              <button type="button" class="mob-menu__btn-close" data-menu-close>
                <svg class="mob-menu__icon-close" width="32" height="32">
                  <use href="/src/images/icomoon/symbol-defs.svg#close"></use>
                </svg>
              </button>
              <nav class="mob-menu__nav">
                <ul class="mob-menu__navig-list">
                  <li class="mob-menu__nav-li">
                    <a class="mob-menu__nav-link" href="#">Home</a>
                  </li>
                  <li class="mob-menu__nav-li">
                    <a class="mob-menu__nav-link" href="#"
                      >How it’s made?</a
                    >
                  </li>
                  <li class="mob-menu__nav-li">
                    <a class="mob-menu__nav-link" href="#">Our products</a>
                  </li>
                  <li class="mob-menu__nav-li">
                    <a class="mob-menu__nav-link" href="#">Contact</a>
                  </li>
                </ul>
              </nav>
              <button class="mob-menu__btn-mob">Buy now 
                <!-- <svg class="btn-icon">
                  <use href=""></use>
                </svg> -->
              </button>
            </div> 
          </div>
             
    <section class="hero">
        <div class="container">
          <header class="header">
            
            <button class="mob-menu__btn-open" data-menu-open>
              <svg class="mob-menu__icon-open" width="32" height="32">
                <use href="/src/images/icomoon/symbol-defs.svg#burger"></use>
              </svg>
            </button>
            <nav class="header__nav">
              <a href="" class="header__logo">
                <picture>
                  <source 
                srcset="/src/images/hero_header/Logo_lr.png"
                media="(min-width: 1200px)"
                >
                <source 
                srcset="/src/images/hero_header/Logo_md.png"
                media="(min-width: 768px)"
                >
                <source 
                srcset="/src/images/hero_header/Logo_sm.png"
                media="(max-width: 767px)"
                >
                </picture>
                <img class="logo" src="/src/images/hero_header/Logo_lr.png" alt="">
              </a>
              <ul class="header__list">
                  <li><a href="" class="header__link">Home</a></li>
                  <li><a href="" class="header__link">How it’s made?</a></li>
                  <li><a href="" class="header__link">Our products</a></li>
                  <li><a href="" class="header__link">Contact</a></li>
              </ul>
              
            <button class="header__btn">Buy now 
              <!-- <svg class="btn-icon">
                <use href=""></use>
              </svg> -->
            </button>
        
          </header>
          <div class="hero__for-position">
            <div class="box">
              <h1 class="hero__title">ice cream <br>
                made with <br>
                <span class="hero__passion">passion</span></h1>
                <div class="hero__flx">
                    <button class="hero__btn">Rroducts</button>
                    <a href="" class="hero-link">How it’s made?</a>
                </div>
            </div>
            
              <div class="hero__numbers">
                <p class="hero__for-numb spec">
                    <span class="hero__num">16</span>
                    cafes</p>
                <p class="hero__for-numb spec">
                    <span class="hero__num">23</span>
                    food trucks</p>
            </div>
          </div>
            
                  <p class="hero__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    <a href="" class="hero__arrow-link">
                      <svg class="hero__arrow" >
                        <use href="/src/images/icomoon/symbol-defs.svg#arrow_default"></use>
                     </svg>
                    </a>
                </p>
                
                
        </div>
    </section>
    




    <!-- Modal -->
<section class="buy is-hidden" buy-modal>
  <div class="container">
    <div class="buy_window">
      <button class="buy_btn-close buy_btn" type="button" buy-close>
        <svg class="buy_close" width="9" height="9">
          <use href="./images/icomoon/SVG/close.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="buy_title">Buy now</h2>
      <form class="buy_form">
        <ul class="buy_list">
          <li class="buy_item">
            <input
              type="checkbox"
              name="type_coffe"
              value="true"
              class="buy_check visually-hidden"
              id="type_cream"
            />
            <label for="type_cream" class="buy_offer-1 buy_offer">
              <div class="buy_offer-1-circle-1 buy_offer-circle"></div>
              <span class="buy_offer-1-text">ice cream</span>
            </label>
          </li>
          <li class="buy_item">
            <input
              type="checkbox"
              name="type_coffe"
              value="true"
              class="buy_check visually-hidden"
              id="type_ice"
            />
            <label for="type_ice" class="buy_offer-2 buy_offer">
              <div class="buy_offer-2-circle-2 buy_offer-circle"></div>
              <span class="buy_offer-1-text">ice coffee</span>
            </label>
          </li>
          <li class="buy_item">
            <input
              type="checkbox"
              name="type_coffe"
              value="true"
              class="buy_check visually-hidden"
              id="type_milk"
            />
            <label for="type_milk" class="buy_offer-3 buy_offer">
              <div class="buy_offer-3-circle-3 buy_offer-circle"></div>
              <span class="buy_offer-1-text">milkshake</span>
            </label>
          </li>
        </ul>
        <div class="buy_field">
          <input
            type="text"
            class="buy_input"
            placeholder="Name"
            name="user_name"
            pattern="^[a-z0-9_-]{3,16}$"
          />
          <p class="buy_error">Minimum three characters</p>
        </div>
        <div class="buy_field">
          <input
            type="text"
            class="buy_input"
            placeholder="Phone"
            name="user_phone"
            pattern="\+?[0-9\s\-\(\)]+"
          />
          <p class="buy_error">Example +38(044)555-55-45</p>
        </div>
        <div class="buy_field">
          <textarea
            type="text"
            name="user_comment"
            id="user_comment"
            class="buy_input buy_comment"
            placeholder="Comment"
          ></textarea>
          <p class="buy_error">Enter valid data</p>
        </div>
        <button type="submit" class="buy_btn-sub">Submit</button>
      </form>
    </div>
  </div>
</section>

    

