
       
          <!-- <button class="menu-open">
            0
          </button>
          <div class="mob-menu is-hidden" data-menu>
            <div class="container">
              <button type="button" class="menu-btn-close" data-menu-close>
                <svg class="menu-icon-close" width="40" height="40">
                  <use href="#"></use>
                </svg>
              </button>
              <nav class="mob-menu-nav">
                <ul class="mob-menu-navig-list">
                  <li class="mob-menu-nav-li">
                    <a class="mob-menu-nav-link" href="#">Home</a>
                  </li>
                  <li class="mob-menu-nav-li">
                    <a class="mob-menu-nav-link" href="#"
                      >How it’s made?</a
                    >
                  </li>
                  <li class="mob-menu-nav-li">
                    <a class="mob-menu-nav-link" href="#">Our products</a>
                  </li>
                  <li class="mob-menu-nav-li">
                    <a class="mob-menu-nav-link" href="#">Contact</a>
                  </li>
                </ul>
              </nav> -->
             
             
    <section class="hero">
        <div class="container">
          <header class="header">
            
            <nav class="header-nav">
              <a href="" class="logo">
                <svg class="logo-icon" width="44" height="46">
                    <use href="/src/images/hero_header/arrow.svg"></use>
                </svg>
              </a>
              <ul class="header-list">
                  <li><a href="" class="header-link">Home</a></li>
                  <li><a href="" class="header-link">How it’s made?</a></li>
                  <li><a href="" class="header-link">Our products</a></li>
                  <li><a href="" class="header-link">Contact</a></li>
              </ul>
              
            <button class="btn" type="button" buy-open>Buy now ></button>
        
          </header>
            <h1 class="hero-title">ice cream <br>
                made with <br>
                <span class="passion">passion</span></h1>
                <div class="hero-fl">
                    <button class="hero-btn">Rroducts</button>
                    <a href="" class="hero-link">How it’s made?</a>
                </div>
                <p class="hero-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <svg class="arrow" width="40" height="1">
                    <use href="/src/images/hero_header/arrow.svg"></use>
                </svg>
                <div class="numbers">
                    <p class="for-numb spec">
                        <span class="num">16</span>
                        cafes</p>
                    <p class="for-numb spec">
                        <span class="num">23</span>
                        food trucks</p>
                </div>
                
        </div>
    </section>



    <!-- Modal -->
<section class="buy" buy-modal>
  <div class="container">
    <div class="buy_window">
      <button class="buy_btn-close buy_btn" type="button" buy-close>
        <svg class="buy_close" width="9" height="9">
          <use href="./images/icomoon/SVG/close.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="buy_title">Buy now</h2>
      <form class="buy_form">
        <ul class="buy_list">
          <li class="buy_item">
            <input
              type="checkbox"
              name="type_coffe"
              value="true"
              class="buy_check visually-hidden"
              id="type_cream"
            />
            <label for="type_cream" class="buy_offer-1 buy_offer">
              <div class="buy_offer-1-circle-1 buy_offer-circle"></div>
              <span class="buy_offer-1-text">ice cream</span>
            </label>
          </li>
          <li class="buy_item">
            <input
              type="checkbox"
              name="type_coffe"
              value="true"
              class="buy_check visually-hidden"
              id="type_ice"
            />
            <label for="type_ice" class="buy_offer-2 buy_offer">
              <div class="buy_offer-2-circle-2 buy_offer-circle"></div>
              <span class="buy_offer-1-text">ice coffee</span>
            </label>
          </li>
          <li class="buy_item">
            <input
              type="checkbox"
              name="type_coffe"
              value="true"
              class="buy_check visually-hidden"
              id="type_milk"
            />
            <label for="type_milk" class="buy_offer-3 buy_offer">
              <div class="buy_offer-3-circle-3 buy_offer-circle"></div>
              <span class="buy_offer-1-text">milkshake</span>
            </label>
          </li>
        </ul>
        <div class="buy_field">
          <input
            type="text"
            class="buy_input"
            placeholder="Name"
            name="user_name"
            pattern="^[a-z0-9_-]{3,16}$"
          />
          <p class="buy_error">Minimum three characters</p>
        </div>
        <div class="buy_field">
          <input
            type="text"
            class="buy_input"
            placeholder="Phone"
            name="user_phone"
            pattern="^\+\d{2}\(\d{3}\)\d{3}-\d{2}-\d{2}$"
          />
          <p class="buy_error">Example +38(044)555-55-45</p>
        </div>
        <div class="buy_field">
          <textarea
            type="text"
            name="user_comment"
            id="user_comment"
            class="buy_input buy_comment"
            placeholder="Comment"
          ></textarea>
          <p class="buy_error">Enter valid data</p>
        </div>
        <button type="submit" class="buy_btn-sub">Submit</button>
      </form>
    </div>
  </div>
</section>

    

