
    <section class="products">
        <div class="container">
          <p class="products-title-secondary">100% natural</p>
          <h2 class="products-title-primary">Products</h2>
          <ul class="products-list">
            <li class="products-item">
              <div class="eclipce1"></div>
              <div class="products-info">
              <h3 class="products-item-title">ice cream</h3>
              <p class="products-item-text">
                Soft ice cream with a delicate taste. Made with milk, cream, sugar
                and natural stabilizer
              </p>
              </div>
              <button type="button" class="products-btn" data-modal-open>
                  <svg class="products-modal-img">
                      <use uref="./images/icomoon/SVG/arrow_default.svg#arrow_default"></use>
                  </svg>
              </button>
            </li>
  
             <li class="products-item">
              <div class="eclipce2"></div>
              <div class="products-info">
              <h3 class="products-item-title">ice coffee</h3>
              <p class="products-item-text">
                Fragrant invigorating drink created from 100% natural ingredients
                without the use of preservatives and flavor enhancers
              </p>
           </div>
              <button type="button" class="products-btn" data-modal-open>
              </button>
            </li>
  
            <li class="products-item">
              <div class="eclipce3"></div>
              <div class="products-info">
              <h3 class="products-item-title">milkshakes</h3>
              <p class="products-item-text">
                Sweet drinks based on milk and ice cream, supplemented with
                syrups, fruits, berries and other sweets of your choice
              </p>
              </div>
              <button type="button" class="products-btn" data-modal-open>
              </button>
            </li>
          </ul>
        </div>
      </section>
      <div class="backdrop is-hidden" data-modal>
      <div class="products-modal is-hidden" >
        <button type="button" class="products-modal-btn" data-modal-close>
          <svg class="products-modal-img">
              <use uref="./images/icomoon/SVG/clode.svg#close"></use>
          </svg>
        </button>
        <h2 class="products-modal-title">Chololate icecream</h2>
        <div class="products-modal-set">
        <div class="eclipce-modal"></div>
        
        <ul class="products-modal-list">
          <li class="products-modal-item">
              <span class="products-modal-box">320</span>
              <span class="products-modal-box-text">kcal</span>
            </li>
  
            <li class="products-modal-item">
              <span class="products-modal-box">4g</span>
              <span class="products-modal-box-text">Protein..</span>
            </li>
  
            <li class="products-modal-item">
              <span class="products-modal-box">8,2g</span>
              <span class="products-modal-box-text">Fats</span>
            </li>
  
            <li class="products-modal-item">
              <span class="products-modal-box">40,4g</span>
              <span class="products-modal-box-text">Carbs</span>
            </li>
  
          </ul>
       </div>

  
          <h3 class="products-modal-data">Ingredients</h3>
          <ul class="products-modal-data-list">
            <li class="products-modal-data-item">
              <h3 class="products-modal-data-title">Milk</h3>
              <p class="products-modal-data-title">100ml</p>
            </li>
            <li class="products-modal-data-item">
              <h3  class="products-modal-data-title">Belgian chocolate</h3>
              <p class="products-modal-data-title">20g</p>
            </li>
            <li class="products-modal-data-item">
              <h3  class="products-modal-data-title">Cream</h3>
              <p class="products-modal-data-title">150ml</p>
            </li>
            <li class="products-modal-data-item">
              <h3  class="products-modal-data-title">Cocoa powder</h3>
              <p class="products-modal-data-title">30g</p>
            </li>
            <li class="products-modal-data-item">
              <h3  class="products-modal-data-title">Sugar</h3>
              <p class="products-modal-data-title">40g</p>
            </li>
           <li class="products-modal-data-item">
              <h3  class="products-modal-data-title">Vanilla sugar</h3>
              <p class="products-modal-data-title">10g</p>
            </li>
          </ul>
        
  
        <form class="products-form">
          <div>
            <label class="products-form-label" for="name">Name</label>
            <input class="products-form-input" type="text" name="user-name" id="name"/>
          </div>
          <div>
            <label class="products-form-label" for="tel">Phone</label>
            <input class="products-form-input" type="tel" name="user-tel" id="tel" />
          </div>
          <div>
            <textarea name="user-text" id="user-text" placeholder="Comment" class="products-form-texarea"></textarea>
          </div>
          <button class="products-form-btn" type="button">Submit</button>
        </form>
      </div>
    </div>