.container-gallery-reviews {
  width: 100%;
  margin: 0 auto;
  @include mobile {
    width: 480px;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}

.gallery-reviews-background {
  background-image: url(/src/images/gallery/bg_lr.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.customer-reviews {
  padding-top: 60px;
  padding-bottom: 60px;
}
.customer-reviews__box {
  @extend %align-list;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 705px;

  @include mobile {
  }
}
.customer-reviews__image {
  width: 85px;
  height: 85px;
  margin-bottom: 32px;
  @include mobile {
  }
  @include tablet {
    margin-bottom: 28px;
  }
  @include desktop {
    margin-bottom: 27px;
    width: 100px;
    height: 100px;
  }
}
.customer-reviews__field {
  @extend %align-list;
  justify-content: center;
  width: 90%;
  height: 260px;
  background-color: #84a178;
  border-radius: 24px;

  @include mobile {
  }

  @include tablet {
    width: 95%;
    height: 138px;
  }
  @include desktop {
    width: 968px;
  }
}
.customer-reviews__text {
  width: 200px;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  margin: 0 auto;

  @include mobile {
    font-size: 13px;
  }
  @include tablet {
    width: 545px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
  }
  @include desktop {
    width: 750px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.customer-reviews__name {
  margin-top: 32px;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.86;
  text-align: center;
  color: #131313;

  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 16px;
  }
}

.swiper {
  margin: 0 auto;
  width: 100%;
  height: 500px;

  @include tablet {
    height: 360px;
  }
  @include desktop {
    width: 1050px;
    height: 380px;
  }
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
  //   display: flex;
  //   gap: 5px;
  //   right: 50%;
  //   bottom: 10px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #84a178;
}
.swiper-button-prev {
  color: #84a178;
}
.swiper-button-next {
  color: #84a178;
}
.swiper-scrollbar {
}
