.footer {
position: relative;
background-color: var(--secondary-color);}

.footer__container {
@media screen and (min-width: 768px) {
display: flex;
flex-wrap: wrap;}}

.footer__title--container {
padding: 0;
display: block;
@media screen and (min-width:768px){
max-width: 352px;
max-height: 184px;}
@media screen and (min-width:1200px) {
max-width: 504px;}}



.foorer__title {
font-family: Montserrat;
font-style: normal;
text-transform: uppercase;
font-weight: 700;
color: #FCFCFC;
@media screen and (max-width: 767px) {
display: block;
max-width: 232px;
max-height: 42px;
margin-bottom: 16px;
//margin-left: 20px;
font-size: 18px;
line-height: 1.22;}
@media screen and (min-width:768px) {
display: block;
max-width: 352px;
max-height: 57px;
margin-bottom: 9px;
font-size: 26px;
line-height: 1.23;
letter-spacing: 0.04em;}
@media screen and (min-width: 1200px) {
font-weight: 400;
max-width: 504px;
max-height: 37px;
margin-bottom: 14px;

}}

.foorer__title-big {
font-family: Montserrat;
font-style: normal;
text-transform: uppercase;
font-weight: 700;
color: #FCFCFC;
@media screen and (max-width: 767px) {
display: block;
max-width: 200px;
max-height: 76px;
font-size: 34px;
margin-bottom: 42px;
//margin-left: 20px;
line-height: 1.2;
letter-spacing: 0.04em;}
@media screen and (min-width:768px) {
display: block;
max-width: 340px;
max-height: 118px;
font-size: 48px;
line-height: 1.23;
letter-spacing: 0.06em;}
@media screen and (min-width: 1200px) {
max-width: 500px;
max-height: 71px;
font-size: 58px;}}

.footer__contacts--container {
@media screen and (min-width: 768px) {
margin-left:auto;
}}


.social-networks__list {
display: flex;
align-self: center;
justify-content: right;
list-style: none;
@media screen and (max-width:767px) {
//margin-right: 20px;
margin-bottom: 38px;}
@media screen and (min-width: 768px) {
margin-top: 68px;
margin-bottom: 41px;}
@media screen and (min-width: 1200px) {
margin-top: 14px;
margin-bottom: 40px;}}
 
.social-networks__item {
&:nth-child(n+2) {
margin-left: 10px;}}

.social-networks__link {
display: flex;
align-self: center;
justify-content: center;
width: 32px;
height: 32px;
border-radius: 50%;
background-color: var(--primary-color);
transition: cbackground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
@media screen and (min-width: 768px)  {
width: 34px;
height: 34px;}}

.social-networks__icon {
display: flex;
align-self: center;
justify-content: center;
fill: var(--secondary-color);
&:hover,
&:focus {
fill: #FCFCFC;
cursor: auto;
transition: foll 250ms cubic-bezier(0.4, 0, 0.2, 1);}
@media screen and (max-width: 767px){
width: 32px;
height: 32px;}
@media screen and (min-width: 768px)  {
width: 34px;
height: 34px;}}

.footer__contacts {
font-weight: 700;
font-size: 12px;
line-height: 1.86%;
text-align: right;
color: #131313;
@media screen and (max-width:767px){
//margin-right: 20px;
margin-bottom: 40px;}
@media screen and (min-width:768px) {
font-size: 14px;}
@media screen and (min-width:1200px) {
font-size: 16px;}}

.footer__namber {
text-decoration: none;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 1.86%;
text-align: right;
color: #FCFCFC;
@media screen and (min-width:768px) {
font-size: 14px;}
@media screen and (min-width:1200px) {
font-size: 16px;}}

.footer__botom {
padding-top: 20px;
padding-bottom: 62px;  
text-align: center;
margin-left: 20px;
@media screen and (min-width:768px) {
width: 100%;
padding-top: 14px;
padding-bottom: 13px;
margin-top: 32px;}
@media screen and (min-width:1200px) {
padding-top: 12px;
padding-bottom: 11px;
margin-top: 54px;
}}

.footer__container::after {
content: '';
position: absolute;
display: block;
background-color:#E1E1E1; 
@media screen and (max-width:767px) {
bottom: 144px;
left: 0;
width: 100%;
height: 1px;
background-color:#E1E1E1;   
}
@media screen and (min-width:768px) {
bottom: 53px;
left: 0;
width: 100%;
height: 1px;  
}
@media screen and (min-width:1200px) {
bottom: 46px;
width: 1167px;
height: 1px;
left: 70px;  
}}


.footer__text-copyright {
font-weight: 700;
font-size: 14px;
line-height: 1.52;
color: #7A7A7A;
@media screen and (max-width:767px) {
display: inline-block;
max-width: 130px;
max-height: 42px;
}
@media screen and (min-width:768px) {
line-height: 1.86;
letter-spacing: 0.02em;}
@media screen and (min-width:1200px) {
font-size: 12px;
line-height: 1.86;
letter-spacing: 0.02em;}}

