.gallery {
    .slideshow {
        margin: auto;
    }

    .slideshow--item {
        display: none;
        position: relative;
        top: -24px;
        @include tablet {
            top: -164px;
        }
        @include desktop {
            top: -94px;
        }
        img {
            vertical-align: middle;
            border-radius: 7.4px;

            @include tablet {
                border-radius: 18px;
            }

            @include desktop {
                border-radius: 24px;
            }
        }
    }

    /* Fading animation */
    .scale {
        animation-name: scale;
        animation-duration: 2.2s;
    }

    @keyframes scale {
        from {
            scale: .98
        }

        to {
            scale: 1
        }
    }
}