

// .container {
//     width: 1200px;
//    margin: 0 auto;
//    padding: 0 16px;
   
  ul {
    list-style: none;
  }  
//   }
  /* .container {
    @media screen and (min-width 480px) {
      width: 480px;
      margin: 0 auto;
   padding: 0 16px;
    }
    @media screen and (min-width 768px) {
      width: 768px;
      margin: 0 auto;
   padding: 0 16px;
    }
    @media screen and (min-width 1200px) {
      width: 1200px;
    }
  } */
  /* body {
      background: rgba(132, 161, 120, 1); 
  } */
  p {
      margin: 0;
  }
  .header {
    /* display: flex;
      justify-content: space-around; */
    background: rgba(132, 161, 120, 1);
    /* margin-bottom: 45px; */
  }
  .logo-icon {
    fill: #F8D24E;
  }
  .header-list {
    display: none;
    @include desktop {
        display: flex;
        justify-content: start;
        list-style: none;
        gap: 27px;
        align-items: flex-end;
        margin: 0;
        margin-left: 269px;
        margin-right: 247px;
      }
      }
    
  .header-nav {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
  }
  .header-link {
    text-decoration: none;
    font-family: "Montserrat" "sant-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fcfcfc;
    &:hover {
        color: rgba(248, 210, 78, 1);
      }
  }
  
  .btn {
    display: none;
    @include tablet {
        display: block;
        background-color: rgba(248, 210, 78, 1);
    align-items: center;
    color: #131313;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    width: 152px;
    height: 42px;
    border: none;
    border-radius: 10px;
      }
    
  }
  .menu-open {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
  }
  .hero {
      position: relative;
      border-color: var(--solution-bg);
      background-color:rgba(132, 161, 120, 1);
      background-image:
      url(/src/images/hero_header/ice-cream_sm.png),
        // url(/src/images/hero_header/more_ice-cream_lr.png),
        url(/src/images/hero_header/dots_sm.png);
      /* background-size: cover; */
      background-position:right 14px bottom -53px, bottom;
      background-repeat: no-repeat;
      max-width: 320px;
      height: 502px;
      margin-right: auto;
      margin-left: auto;
      padding-left: auto;
      padding-right: auto;
      @include mobile {
        max-width: 480px;
        background-position:right 90px bottom -53px, bottom;
        
      }
      @include tablet {
        height: 350px;
        max-width: 768px;
        background-image:
        url(/src/images/hero_header/ice-cream_md.png),
          url(/src/images/hero_header/more_ice-cream_md.png),
          url(/src/images/hero_header/dots_md.png);
        /* background-size: cover; */
        background-position:right 23px bottom -56px, bottom 13px left 32px, bottom;
      }
      @include desktop {
        min-width: 1200px;
      }
  }
  .hero-title {
    font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 33px;
letter-spacing: 0.04em;
text-transform: uppercase;
padding-top: 61px;
color: #FCFCFC;
@include tablet {
    font-size: 18px;
line-height: 23px;
padding-top: 40px;
  }
@include desktop {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
      margin: 0;
    color: #fcfcfc;
   width: 367px;

  padding-top: 45px;
  margin-bottom: 28px;
  }
    
  }
  .passion {
font-size: 34px;
line-height: 33px;
@include tablet {
    font-size: 24px;
line-height: 13px;
width: 100%;
  }  


  }
  .hero-btn {
    
      background: rgba(132, 161, 120, 1);
      border: 2px solid #F8D24E;
      border-radius: 10px;
      width: 62px;
  height: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  align-items: center;
  text-align: center;
  margin-right: 12px;
  color: #131313;
  }
  .hero-link {
      font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  
  color: #F8D24E;
  }
  .hero-fl {
      margin-top: 32px;
      display: flex;
  }
  .hero-text {
    display: none;
    @include tablet {
        display: block;
        width: 151px;
        height: 85px;
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        margin-top: 56px;
         margin-left: 185px;
        color: #FCFCFC;
      }
     
  }
  .for-numb {
      width: 52px;
      height: 77px;
      font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #FCFCFC;
  
  }
  .spec {
    width: 48px;
  }
  .numbers {
    display: none;
    @include tablet {
        position: absolute;
        top: 56px;
        right: 16px;
        display: block;
      }
      
  }
  .num {
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 34px;
/* identical to box height */
text-align: right;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #131313;

  }

  .mob-menu-nav-link {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
text-decoration: none;
color: #FCFCFC;
  }
  .mob-menu {
    // position: fixed;
    width: 100vw;
    // height: 100vh;
    background-color: 
    rgba(151, 175, 141, 1);
  }
  .mob-menu-nav-li {
    display: flex;
    justify-content: center;
    &:not(:last-child) {
        margin-bottom: 40px;
    }
  }
  