

// .container {
  //     width: 1200px;
  //    margin: 0 auto;
  //    padding: 0 16px;
     
  ul {
    list-style: none;
  }  
//   }
  /* .container {
    @media screen and (min-width 480px) {
      width: 480px;
      margin: 0 auto;
   padding: 0 16px;
    }
    @media screen and (min-width 768px) {
      width: 768px;
      margin: 0 auto;
   padding: 0 16px;
    }
    @media screen and (min-width 1200px) {
      width: 1200px;
    }
  } */
  /* body {
      background: rgba(132, 161, 120, 1); 
  } */
  p {
      margin: 0;
  }
  .header {
    /* display: flex;
      justify-content: space-around; */
    background: rgba(132, 161, 120, 1);
    /* margin-bottom: 45px; */
  }
  .logo-icon {
    fill: #F8D24E;
  }
  .header-list {
    display: none;
    @include desktop {
        display: flex;
        justify-content: start;
        list-style: none;
        gap: 27px;
        align-items: flex-end;
        margin: 0;
        margin-left: 269px;
        margin-right: 247px;
      }
      }
    
  .header-nav {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
  }
  .header-link {
    text-decoration: none;
    font-family: "Montserrat" "sant-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fcfcfc;
    &:hover {
        color: rgba(248, 210, 78, 1);
      }
  }
  
  .btn {
    display: none;
    @include tablet {
        display: block;
        background-color: rgba(248, 210, 78, 1);
    align-items: center;
    color: #131313;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    width: 152px;
    height: 42px;
    border: none;
    border-radius: 10px;
      }
    
  }
  .menu-open {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
  }
  .hero {
      position: relative;
      border-color: var(--solution-bg);
      background-color:rgba(132, 161, 120, 1);
      background-image:
      url(/src/images/hero_header/ice-cream_sm.png),
        // url(/src/images/hero_header/more_ice-cream_lr.png),
        url(/src/images/hero_header/dots_sm.png);
      /* background-size: cover; */
      background-position:right 14px bottom -53px, bottom;
      background-repeat: no-repeat;
      max-width: 320px;
      height: 502px;
      margin-right: auto;
      margin-left: auto;
      padding-left: auto;
      padding-right: auto;
      @include mobile {
        max-width: 480px;
        background-position:right 90px bottom -53px, bottom;
        
      }
      @include tablet {
        height: 415px;
        max-width: 768px;
        background-image:
        url(/src/images/hero_header/ice-cream_md.png),
          url(/src/images/hero_header/more_ice-cream_md.png),
          url(/src/images/hero_header/dots_md.png);
        /* background-size: cover; */
        background-position:right 23px bottom -56px, bottom 13px left 32px, bottom;
      }
      @include desktop {
        height: 664px;
        min-width: 1200px;
        background-image:
        url(/src/images/hero_header/ice-cream_lr.png),
          url(/src/images/hero_header/more_ice-cream_lr.png),
          url(/src/images/hero_header/dots_lr.png);
        /* background-size: cover; */
        background-position:right 23px bottom -100px, bottom 65px left 17px, bottom;
      }
  }
  .hero-title {
    font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 33px;
letter-spacing: 0.04em;
text-transform: uppercase;
padding-top: 61px;
color: #FCFCFC;
@include tablet {
    font-size: 18px;
line-height: 23px;
padding-top: 40px;
  }
@include desktop {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
      margin: 0;
    color: #fcfcfc;
   width: 367px;

  padding-top: 45px;
  margin-bottom: 28px;
  }
    
  }
  .passion {
font-size: 34px;
line-height: 33px;
@include tablet {
    font-size: 24px;
line-height: 13px;
width: 100%;
  }
  @include desktop {
    font-size: 38px;
line-height: 48px;
  }


  }
  .hero-btn {
    
      background: rgba(132, 161, 120, 1);
      border: 2px solid #F8D24E;
      border-radius: 10px;
      width: 62px;
  height: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  align-items: center;
  text-align: center;
  margin-right: 12px;
  color: #131313;
  @include desktop {
    width: 134px;
    height: 42px;
    font-size: 14px;
    line-height: 18px;
  }
  }
  .hero-link {
      font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  
  color: #F8D24E;
  @include desktop {
    font-size: 14px;
    line-height: 18px;
  }
  }
  .hero-fl {
      margin-top: 32px;
      display: flex;
  }
  .hero-text {
    display: none;
    @include tablet {
        display: block;
        width: 151px;
        height: 85px;
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        margin-top: 56px;
         margin-left: 185px;
        color: #FCFCFC;
      }
     @include desktop {
      font-size: 14px;
      width: 200px;
      height: 80px;
      margin-top: 111px;
      margin-left: 256px;
     
     }
  }
  .for-numb {
      width: 52px;
      height: 77px;
      font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #FCFCFC;
  
  }
  .spec {
    width: 48px;
    @include desktop {
    width: 79px;
    }
  }
  .numbers {
    display: none;
    @include tablet {
        position: absolute;
        top: 56px;
        right: 16px;
        display: block;
      }
      
  }
  .num {
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 34px;
/* identical to box height */
text-align: right;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #131313;
@include desktop {
  font-size: 46px;
  line-height: 56px;
}
  }

  .mob-menu-nav-link {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;

display: flex;
align-items: center;
text-align: center;
text-decoration: none;
color: #FCFCFC;
  }
  .mob-menu {
   
    width: 100vw;
  
    background-color: 
    rgba(151, 175, 141, 1);
  }
  .mob-menu-nav-li {
    display: flex;
    justify-content: center;
    &:not(:last-child) {
        margin-bottom: 40px;
    }
  }
  




  /* Modal */
  @mixin transition($element) {
    transition-property: #{$element};
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buy {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    &_window{
        position: absolute;
        width: 280px;
        height: auto;
        background-color: #FCFCFC;
        padding-bottom: 28px;
        border: 2px solid #F8D24E;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        @include tablet {
            width: 568px;
            height: auto;
        }
    }
    &_btn-close {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 8px;
        right: 8px;

        border-radius: 50%;
        @include tablet {
        top: 20px;
        right: 20px;            
        }
    }
    &_btn-sub {
        width: 114px;
        height: 42px;
        display: block;
        background-color: var(--primary-color);
        border-radius: 10px;
        border: none;
        margin: 0 auto;
        @include font(600, 12px, 15px,null);
        color: #131313;
        cursor: pointer;
        @include transition('background-color, color');
        &:hover {
            background-color: var(--tertiary-color);
            color: #000000;
        }
        &:focus {
            background-color: var(--tertiary-color);
            color: #FCFCFC;
        }
        @include tablet {
        @include font(600, 14px, 17px,null); 
        width: 121px;
        }
    }
    &_error {
        display: none; 
        @include font(600, 14px, 20px,null);
        padding-top: 8px;
        padding-left: 12px;
        color: #131313;
    }
    &_title {
        padding-top: 28px;
        font-family: 'Seymour One', sans-serif;
        @include font (null, 16px,24px,null);
        color: #131313;
        text-align: center;
        @include tablet {
        padding-top: 32px;
        @include font (null, 20px,28px,null);
        }
        
    }
    &_check {
    }
    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &_list {
        @include tablet {
            display: flex;
            gap: 32px;
        }
    }
    &_item {
        margin-top: 84px;
        @include tablet {
        margin-top: 103px;
        }
    }
    &_offer {
        display: flex;
        justify-content: center;
        position: relative;
        width: 132px;
        height: 136.4px;
        border-radius: 15px;
        box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
        &-circle {
        position: absolute;
        top: -50%;
        left: -2px; 
        width: 131.56px;
        height: 131.95px;
        border-radius: 50%;   
        }
    }
    &_offer-1 {
        border: 2px solid #96AF8C;
        &-circle-1 {
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -7px;
            width: 131.56px;
            height: 131.95px;
            //background-image: url('../images/buy_now_modal/1_lr.png');
            background-repeat: no-repeat;
            background-size: cover;
/*             @include retina {
              background-image: url('../images/buy_now_modal/1_lr@2x.png');
            } */
        }
        }
        &-text {
        position: absolute;
        bottom: 20px;
        @include font (700, 16px, 20px, .04em);  
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        }
    }
    &_offer-2 {
        border: 2px solid #EFD478;
        &-circle-2 {
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -7px;
            width: 131.56px;
            height: 131.95px;
            //background-image: url('../images/buy_now_modal/2_lr.png');
            background-repeat: no-repeat;
            background-size: cover;
/*             @include retina {
              background-image: url('../images/buy_now_modal/2_lr@2x.png');
            } */
        }
        }
        &-text {
        position: absolute;
        bottom: 20px;
        @include font (700, 16px, 20px, .04em);  
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        }
    }
    &_offer-3 {
        border: 2px solid #D6936D;
        margin-bottom: 24px;
        &-circle-3 {
        background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -7px;
            width: 131.56px;
            height: 131.95px;
            //background-image: url('../images/buy_now_modal/3_lr.png');
            background-repeat: no-repeat;
            background-size: cover;
/*             @include retina {
              background-image: url('../images/buy_now_modal/3_lr@2x.png');
            } */
        }
        }
        &-text {
        position: absolute;
        bottom: 20px;
        @include font (700, 16px, 20px, .04em);  
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        }
    }
    &_field {
        &:not(:nth-child(4)) {
         margin-bottom: 12px;
        }
        @include tablet {
        &:not(:nth-child(4)) {
         margin-bottom: 16px;
        }            
        }
    }
    &_input {
        width: 224px;
        height: 32px;
        padding: 8px 12px;
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid #84A178;
        border-radius: 10px;
        @include transition ('background-color');
        &::placeholder {
        font-family: 'Montserrat', sans-serif ;
        @include font (null, 12px, 17px, null);
        color: #131313;
        }
        @include tablet {
        width: 368px;
        height: 42px;
        padding: 11px 16px;
        @include font (null, 14px, 20px, null);            
        }
        &:invalid {
            background-color: rgb(195, 47, 47);
        }
        &:invalid + .buy_error {
            display: block;
        }

    }
    &_comment {
        resize: none;
        margin-bottom: 24px;
        height: 65px;
        @include tablet {
            height: 84px;
        }
    }    
}

.buy_check:checked + .buy_offer-1 {
       background-color: var(--primary-color);
}
.buy_check:checked + .buy_offer-2 {
       background-color: #9CBE8FB2;
}.buy_check:checked + .buy_offer-3 {
       background-color: #D5753FB2;
}

::-webkit-validation-bubble-message {
            background-color: green;
        }

