.products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(/src/images/products/bg-products-mob1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: url(/src/images/products/bg-products-mob2x.png);
  }

  @include mobile {
    background-image: url(/src/images/products/bg-products-mob1x.png);
    @include retina {
      background-image: url(/src/images/products/bg-products-mob2x.png);
    }
  }

  @include tablet {
    padding-bottom: 82px;
    background-image: url(/src/images/products/bg-ice-cream_md.png);
    @include retina {
      background-image: url(../images/products/bg-ice-cream_md@2x.png);
    }
  }

  @include desktop {
    padding-bottom: 60px;
    background-image: url(../images/products/bg-ice-cream_lr.png);
    @include retina {
      background-image: url(../images/products/bg-ice-cream_lr@2x.png);
    }
  }
}

.products-list {
  padding: 0;
  display: flex;
  margin: 0;
  @include tablet {
    gap: 16px;
    margin-top: 200px;
  }
  @include desktop {
    gap: 32px;
    margin-top: 304px;
  }
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-top: 148px;
    gap: 164px;
    justify-content: center;
  }
}
.products-info {
  @extend %align-list;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 123px;
  @include tablet {
    padding-top: 108px;
    padding-left: 26px;
    padding-right: 26px;
  }
  @include desktop {
    padding-top: 166px;
    padding-left: 64px;
    padding-right: 63px;
  }
}
.products-title-secondary {
  font-family: 'Montserrat';
  font-style: normal;
  @include font(800, 18px, 22px, null);
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 12px;

  @include tablet {
    font-size: 22px;
    line-height: 27px;
  }
  @include desktop {
    font-size: 30px;
    line-height: 37px;
  }
}

.products-title-primary {
  font-family: 'Seymour One';
  font-style: normal;
  @include font(400, 30px, 38px, 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);

  @include tablet {
    font-size: 34px;
    line-height: 43px;
    margin-top: 8px;
  }
  @include desktop {
    font-size: 36px;
    line-height: 45px;
  }
}

.products-item {
  @extend %align-list;
  flex-direction: column;
  position: relative;
  background-color: var(--first-background-item);
  border: 1px solid var(--border-color);
  border-radius: 24px;
  border-style: none;
  height: 420px;
  margin: 0;
  @media screen and (max-width: 767px) {
    max-width: 280px;
    flex-basis: 100%;
    height: 428px;
  }
  @include tablet {
    height: 428px;
    width: calc((100% - 16px) / 3);
  }
  @include desktop {
    height: 535px;
    width: calc((100% - 32px) / 3);
  }
}
.products-item:nth-child(2) {
  background-color: var(--second-background-item);
}

.products-item:nth-child(3) {
  background-color: var(--third-background-item);
}

.eclipce1 {
  border: 2px solid var(--second-border-color);
  border-radius: 50%;
  width: 201px;
  height: 200px;
  position: absolute;
  top: -25%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    var(--gradient-color);
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  @include desktop {
    width: 301px;
    height: 300px;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    left: -2px;
    width: 200px;
    height: 200px;
    background-image: url('../images/products/1kelsey-curtis_sm.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include retina {
      background-image: url('../images/products/1kelsey-curtis_sm@2x.png');
    }
    @include desktop {
      width: 301px;
      height: 300px;
      background-image: url('../images/products/1kelsey-curtis_lr.png');
      @include retina {
        background-image: url('../images/products/1kelsey-curtis_lr@2x.png');
      }
    }
  }
}
.eclipce2 {
  border: 2px solid var(--second-background-item);
  border-radius: 50%;
  width: 201px;
  height: 200px;
  position: absolute;
  top: -25%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    var(--gradient-color);
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  @include desktop {
    width: 301px;
    height: 300px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    left: -2px;
    width: 200px;
    height: 200px;
    background-image: url('../images/products/2pariwat-pannium_sm.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include retina {
      background-image: url('../images/products/2pariwat-pannium_sm@2x.png');
    }
    @include desktop {
      width: 301px;
      height: 300px;
      background-image: url('../images/products/2pariwat-pannium_sm.png');
      @include retina {
        background-image: url('../images/products/2pariwat-pannium_sm@2x.png');
      }
    }
  }
}
.eclipce3 {
  border: 2px solid var(--third-background-item);
  border-radius: 50%;
  width: 201px;
  height: 200px;
  position: absolute;
  top: -25%;
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    var(--gradient-color);
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  @include desktop {
    width: 301px;
    height: 300px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    left: -2px;
    width: 200px;
    height: 200px;
    background-image: url('../images/products/3victor-rutka_sm.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include retina {
      background-image: url('../images/products/3victor-rutka_sm@2x.png');
    }
    @include desktop {
      width: 301px;
      height: 300px;
      background-image: url('../images/products/3victor-rutka_lr.png');
      @include retina {
        background-image: url('../images/products/3victor-rutka_lr@2x.png');
      }
    }
  }
}

.products-item-title {
  font-family: 'Montserrat';
  font-style: normal;
  @include font(700, 20px, 24px, 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
  @include tablet {
    .products-item-title {
      font-size: 22px;
      line-height: 27px;
    }
  }
  @include desktop {
    font-size: 30px;
    line-height: 36.57px;
    margin-top: 32px;
  }
}

.products-item-text {
  font-family: 'Montserrat';
  font-style: normal;
  @include font(400, 14px, 25px, 0.04em);
  text-align: center;
  color: var(--primary-text-color);
  margin: 0;
  padding-top: 40px;

  @include desktop {
    font-size: 16px;
    line-height: 28px;
  }
}

.products-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: block;
  bottom: 20px;
  @include desktop {
    bottom: 60px;
  }
}

.products-modal {
  position: absolute;
  width: 280px;
  background: var(--background-modal);
  height: 995px;
  position: absolute;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    @include mobile {
      width: 480px;
    }
    @include tablet {
      width: 568px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 32px;
    }
  }
}
.backdrop {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition-property: opacity 500ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.products-modal-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #0000;
  border: 0;
  position: absolute;

  margin-right: 12px;

  &:hover,
  &:focus {
    fill: var(--primary-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include tablet {
    top: 20px;
    right: 20px;
  }
  @media screen and (max-width: 767px) {
    top: 28px;
    right: 20px;
  }
}
.modal-btn-icon {
  width: 12px;
  height: 12px;
}

.products-modal-title {
  @include font(400, 20px, 28px, null);
  text-align: center;
  font-family: 'Seymour One';
  font-style: normal;
  color: var(--primary-text-color);
  margin-bottom: 22px;
  @media screen and (max-width: 767px) {
    margin-top: 28px;
  }
  @include tablet {
    margin-bottom: 24px;
    margin-top: 32px;
  }
}
.eclipce-modal {
  border: 1px solid var(--second-border-color);
  margin-top: 24px;
  border-radius: 50%;
  width: 134px;
  height: 130px;
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    var(--gradient-color);
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  @include tablet {
    margin-top: 22px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    width: 130px;
    height: 130px;
    background-image: url('../images/modal_ingradients/ing.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include retina {
      background-image: url('../images/modal_ingradients/ing@2x.png');
    }
  }
}
.products-modal-set {
  @extend %align-list;
  flex-direction: column;
}
.products-modal-image {
  margin-left: 54px;
  @include tablet {
    margin-left: 218px;
    margin-right: 218px;
  }
}

.products-modal-list {
  @extend %align-list;
  justify-content: center;
  gap: 10px;
  @include tablet {
    gap: 20px;
  }
}
.products-modal-item {
  position: relative;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  width: 53px;
  height: 72px;
  @include tablet {
    width: 63px;
    height: 90px;
  }
}
.modal-btn-img {
  width: 40px;
  height: 20px;
  &:hover {
    min-width: 50px;
    transition: min-width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.products-modal-box {
  @extend %align-list;
  justify-content: center;
  margin: auto;
  background-color: #9cbe8f;
  width: 43px;
  height: 43px;
  font-family: 'Montserrat';
  font-style: normal;

  @include font(500, 12px, 28px, null);
  color: var(--primary-text-color);
  @include tablet {
    width: 53px;
    height: 53px;
  }
  border: 2px solid var(--second-border-color);
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.products-modal-box-text {
  @extend %align-list;
  justify-content: center;
  margin-top: 7px;
  font-family: 'Montserrat';
  font-style: normal;
  @include font(400, 10px, 12px, null);
  text-align: center;
  color: var(--primary-text-color);
  @include tablet {
    font-size: 12px;
    line-height: 15px;
  }
}

.products-modal-data {
  margin-top: 40px;
  margin-bottom: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  @include font(500, 20px, 28px, null);
  align-items: center;
  text-align: center;
  color: var(--primary-text-color);
}
.products-modal-data-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  &:last-child {
    margin-bottom: 0;
  }
}
.products-modal-data-title {
  font-family: 'Montserrat';
  font-style: normal;
  @include font(400, 14px, 25px, 0.04em);
  color: var(--primary-text-color);
}
.products-form {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  @include tablet {
    align-items: center;
  }
}
.products-form-input {
  position: relative;
  padding-left: 15px;
  width: 100%;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  margin-bottom: 16px;
  @include tablet {
    width: 368px;
  }
}
.products-form-texarea {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  width: 100%;
  height: 84px;
  padding-top: 11px;
  padding-left: 15px;
  margin-bottom: 32px;
  resize: none;
  @include tablet {
    width: 368px;
    margin: 0 auto;
  }
}
.products-form-texarea::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  @include font(400, 14px, 20px, null);
  color: var(--primary-text-color);
}

.products-form-btn {
  display: block;
  margin: 0 auto;
  width: 132px;
  height: 42px;
  background: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: center;
  &:hover {
    background-color: var(--tertiary-color);
  }
  &:focus {
    background-color: var(--tertiary-color);
    color: var(--background-modal);
    outline: var(--tertiary-color);
  }
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    width: 121px;
    margin-top: 32px;
  }
}
